.form-input-section{
    display: flex;
    margin-bottom: 10px;
}

.form-input-textbox {
    border: none;
    background-color: rgb(248, 247, 247);
    font-size: 13px;
    padding: 0.675em 1em;
    width: clamp(150px, 50%, 200px);
    border-radius: 5px;
    min-height: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: clamp(15px, 2.5vw, 20px);
    width: 30%;
}

.auto-resize-textarea{
    width: clamp(150px, 50%, 200px);
    resize :none;
    border: none;
    min-height: 40px;
    max-height: 200px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0.675em 1em;
    font-size: 13px;
    background-color: rgb(248, 247, 247);

}
