.profile-container {
    padding: 10px;
    margin: 5px;
}

.profile-title {
    margin: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-content {
    display: flex;
    border: 3px solid #21252d;
    border-radius: 25px;
    padding: 30px;
    color: white;
    flex-direction: column;
    margin-bottom: 10px;
}

.profile-picture img {
    border-radius: 50%; /* Circular profile picture */
    width: 200px; /* Fixed size */
    height: 200px; /* Fixed size */
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-container {
    box-sizing: border-box;
    float: left;
    width: 70%;
    padding: 15px;
    margin: 0px 0px 20px 0px;
}

@media screen and (max-width:600px) {
    .detail-container {
      width: 100%;
    }
  }

.account-content {
    gap: 50px; /* Space between profile picture and info */
    margin: 10px;
    border: 2px solid grey;
    border-radius: 25px;
    padding: 30px;
}

.account-alignment{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
