

.project-name{
    margin:10px
}

.project-description{
    gap: 50px;
    margin: 20px;
    border: 3px solid #232D3F;
    border-radius: 25px;
    padding: 30px;
    color : #f4f4f4
}

.accordion-item:hover {
    background-color: #222831;
}    

.accordion-item.no-hover:hover {
    background-color: initial;
    cursor: pointer;
}

.access-body {
    margin: 10px;
    max-height: 400px;
    overflow-y: scroll;
}

.access-body.no-scrollbar {
    overflow-y: hidden;
}

.access-item {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
}

pre{
    background-color: #393E46;
    padding: 30px;
}

.accordion-item{
    padding : 10px 20px;
    color: #f4f4f4;
    font-size: 20px;
    border-radius: 15px;
    border: 3px solid #232D3F;
    cursor: pointer;
    margin: 20px;
}



.accordion-body{
    margin-top: 10px;
}

.project-name{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.title-button{
    margin-left: 1em;
    padding: 8px 16px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid transparent;
}

.http-button{
    width: 70px;
    height: 35px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: transparent;
}
